@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  // font-family: "Inter", sans-serif;
  font-family: "Press Start 2P", sans-serif;
  background: $dark;
  color: #fff;

  .container {
    max-width: 700px;
    margin: auto;
  }

  .text-primary {
    color: $primary;
  }

  .text-secondary {
    color: $secondary;
  }
}
